{
    "CALIBRE_DB_PATH": "./library",
    "BABELIO_URL": "https://www.babelio.com",
    "QUERY_WITH_IDENTIFIER": false,
    "NB_BOOKS_BEFORE_SLEEP": 5,
    "SLEEP_AFTER_NB_BOOKS" : 20,
    "SLEEP_BETWEEN_BOOKS": 5,
    "USE_VIRTUEL_LIBRARY_NAME": "Fra",
    "USE_CALIBRE_QUERY": "",
    "USE_SELENIUM": false,
    "DEBUG": false
}